<article class="b-article b-buy-internet-article">
	<h1 class="b-article-title">Купить интернет</h1>
	<dl class="b-article-costs-section">
		<dt class="b-article-costs-section-title">300</dt>
		<dd class="b-article-costs-section-description">руб.</dd>
	</dl>
	<div class="b-article-contents">
		<p class="b-article-contents-paragraph">На всю поездку (5 часов)</p>
		<form action="#" class="b-form">
			<fieldset class="b-form-fieldset">
				<label for="paying-form-phone" class="b-form-fieldset-title">Введите номер вашего телефона</label>
				<div class="b-form-field">
					<input type="tel" class="b-form-field-entity" id="paying-form-phone" placeholder="+7 926 265 72 62">
				</div>
			</fieldset>
			<fieldset class="b-form-fieldset">
				<label class="b-form-fieldset-title">Выберите способ оплаты</label>
				<p class="b-form-law-description">Нажимая на кнопку, Вы соглашаетесь <a href="#" class="b-form-law-description-link">с условиями предоставления услуги</a></p>
				<a class="b-button" href="#" title="Оплата банковской картой">
					<span class="b-button-inside">Оплата банковской картой</span>
				</a>
				<a class="b-button" href="#" title="Оплата с мобильного телефона">
					<span class="b-button-inside">Оплата c мобильного телефона</span>
				</a>
			</fieldset>
		</form>
	</div>
</article>

