<article class="b-article b-disconnected-article">
	<h1 class="b-article-title">Соединение <br>с интернетом отсутствует</h1>
	<div class="b-article-contents">
		<p class="b-article-contents-paragraph">Поезд проезжает в зоне слабого сигнала, связь восстановится в ближайшее время.</p>
		<p class="b-article-contents-paragraph">Приносим извинения за доставленные неудобства.</p>
		<p class="b-article-contents-paragraph">Чтобы попробовать подключиться к интернету, нажмите кнопку:</p>
		<a <%- partial("_href", {page : pages.main}) %> title="Перейти в интернет" class="b-button"><span class="b-button-inside">Перейти в интернет</span></a>
	</div>
</article>

