<article class="b-landing-article b-priority-article">
	<h1 class="b-landing-article-title">Wi&#8209;Fi&nbsp;от&nbsp;Мегафон в&nbsp;Сапсане</h1>
	<div class="b-article-contents">
		<p class="b-article-contents-paragraph">Доступ к сети Wi-Fi для пассажиров первого и бизнес-класса осуществляется бесплатно</p>
		<p class="b-article-contents-paragraph">Нажимая на кнопку, Вы соглашаетесь с <a href="#" class="b-article-contents-link">условиями предоставления услуги</a></p>
	</div>
	<form action="#" class="b-form b-priority-form">
		<fieldset class="b-form-fieldset">
			<div class="b-form-field b-form-telephone-field">
				<input type="tel" class="b-form-field-entity" id="approved-form-phone" placeholder="+7 926 265 72 62">
			</div>
		</fieldset>
		<fieldset class="b-form-fieldset">
			<a <%- partial("_href", {page : pages.authphone}) %> class="b-button" title="Далее">
				<span class="b-button-inside">Далее</span>
			</a>
		</fieldset>
	</form>
</article>

