<article class="b-article b-scretch-activated-article">
	<h2 class="b-article-title">Скретч-карта успешно активирована</h2>
	<div class="b-article-contents">
		<p class="b-article-contents-paragraph">Интернет доступен на 5 часов.</p>
	</div>
	<a <%- partial("_href", {page : pages.main}) %> class="b-button" title="Перейти в интернет"><span class="b-button-inside">Перейти в интернет</span></a>
</article>