<article class="b-article b-scretch-card-article">
	<h2 class="b-article-title">Активация скретч-карты</h2>
	<form action="#" class="b-form">
		<fieldset class="b-form-fieldset">
			<label class="b-form-fieldset-title">Введите номер вашего телефона</label>
			<div class="b-form-field">
				<input type="tel" class="b-form-field-entity" id="scretch-form-phone" placeholder="+7 --- --- -- --">
			</div>
		</fieldset>
		<fieldset class="b-form-fieldset b-form-error-fieldset">
			<label class="b-form-fieldset-title">Введите пин-код скретч-карты</label>
			<div class="b-form-field">
				<input type="number" class="b-form-field-entity" id="scretch-form-code" placeholder="---- ---- ---- ----">
			</div>
			<div class="b-form-field-error">Неправильный пин-код скретч-карты</div>
		</fieldset>
		<fieldset class="b-form-fieldset">
			<a <%- partial("_href", {page : pages.scretchsuccess}) %> class="b-button" title="Подтвердить данные">
				<span class="b-button-inside">Подтвердить данные</span>
			</a>
		</fieldset>
	</form>
</article>