@import "_reset";
@import "_tools";
@import "_fonts";
@import "_variables";

/* Common (common styles) */
body, input, textarea, select, button {
	
	font-family: Arial, sans-serif;
}

html {

	height: auto;
	height: 100%;
}

body {

	@include BaseFont(14px, 20px);
	height: 100%;
	position: relative;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

input, textarea, select, button {
	
	font-size: 1em;
}

/* Overrides extra padding in Firefox */ 
button::-moz-focus-inner { 
	
	padding: 0; 
	border: none;
}

/* Global (global styles) / prefix - g- */

.g-pseudo-link {
	
	border-bottom: 1px dashed;
	text-decoration: none !important;
	cursor: pointer;
}

.g-limited {
	
	/* min-width, max-width */
}

.g-cleaner {
	
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.g-cleared:after {
	
	display: block;
	content: ".";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.g-hidden {
	
	display: none !important;
}

.l-header {

	position: relative;
	margin: 0 auto;
	padding: 18px 40px 90px 20px;
	width: 1024px;
	min-height: 46px;
}

.l-content {

	position: relative;
}

.l-footer {

	position: relative;
}

.b-background-section {

	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.b-megafon-logo,
.b-rzd-logo{

	float: left;
	display: inline-block;
	padding: 0 80px 0 0;
	line-height: 40px;
	img {

		max-width: 100%;
		vertical-align: middle;
	}
}
.b-contacts-link {
	
	float: left;
	@include PFDinDisplayPro(14px, 40px);
	color: #fff;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.b-pages-title {
	
	display: block;
	@include Font(0px, 0px);
	text-indent: -9999px;
}
.b-controls-link {

	position: relative;
	float: right;
	@include PFDinDisplayPro(22px, 40px);
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	&:before {

		position: absolute;
		content: "";
		top: 0;
		left: -66px;
		width: 46px;
		height: 46px;
		@include graphics(-5px, -335px);
	}
	&:hover {
		text-decoration: underline;
	}
}

.b-article {

	@extend .l-header;
	position: relative;
	padding: 0 0 0 300px;
	box-sizing: border-box;
	@include PFDinDisplayPro(14px, 16px);
	color: #fff;

	&-title {

		position: relative;
		padding: 0 0 37px 0;
		@include Font(60px, 60px);
		.b-buy-internet-article & {
			
			padding: 0;
		}
		.b-autorization-article &,
		.b-wrong-password-article & {
			
			padding: 0 380px 35px 0;
		}
		&:before {

			position: absolute;
			content: "";
			top: -30px;
			left: -220px;
			width: 160px;
			height: 160px;
			background-color: #482670;
			border-radius: 50%;
			overflow: hidden;
		}
		&:after {

			position: absolute;
			content: "";
			top: 17px;
			left: -177px;
			width: 76px;
			height: 66px;
			.b-time-expired-article & {

				@include graphics(-5px, -5px);
			}
			.b-disconnected-article &,
			.b-not-money-article &,
			.b-wrong-password-article & {
			
				@include graphics(-5px, -71px);
			}
			.b-autorization-article & {

				@include graphics(-5px, -137px);
			}
			.b-pay-success-article & {
				@include graphics(-5px, -269px);	
			}

		}
	}

	&-contents {

		@include Font(29px, 35px);

		p, &-paragraph {

			padding: 0 0 30px;
		}
	}

	&-description {
		
		padding: 0 0 56px 0;
		@include Font(29px, 35px);

		.b-pay-success-article & {
			padding: 0 0 43px 0;
		}
	}
	&-aside-content {

		position: absolute;
		top: 23px;
		left: 109px;
		@include PFDinDisplayPro-Light(41px, 50px);
	}
	&-aside-small-content {

		@include Font(25px, 30px);
	}
	&-link {

		@include Font(22px, normal);
		text-decoration: none;
		text-transform: uppercase;
		color: #00B269;
		&:hover {

			text-decoration: underline;
		}
		.b-autorization-article & {

			display: inline-block;
			position: relative;
			height: 60px;
			line-height: 60px;
			text-align: center;
			text-decoration: none;
			color: #00B269;
			text-transform: uppercase;

			&-link {

				display: inline-block;
				@include PFDinDisplayPro(21px, 25px);
				text-align: left;
				vertical-align: middle;
			}
		}
	}
}
.b-form {

	&-fieldset {

		&-title {

			@include PFDinDisplayPro(24px, 29px);

			.b-autorization-article & {

				display: block;
				padding: 0 330px 0 0;
			}
		}
	}
	&-field {
		
		margin: 23px 0 40px;
		padding: 17px 50px;
		width: 178px;
		background-color: #fff;
		overflow: hidden;
		border-radius: 30px;
		.b-autorization-article & {

			display: inline-block;
			margin: 35px 26px 40px 0;
		}
		&-entity {

			@include PFDinDisplayPro-Light(20px, 24px);
			border: 0;
		}
	}
	&-law-description {

		@include PFDinDisplayPro(19px, 23px);

		&-link {

			color: #33CF7D;
			text-decoration: none;
			&:hover {

				text-decoration: underline;
			}
		}
	}
}

.b-button {

	display: inline-block;
	margin: 31px 15px 0 0;
	padding: 0 30px;
	width: 175px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #00985F;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0px 2px 0 0px rgba(0, 0, 0, 0.3);

	.b-autorization-article &,
	.b-wrong-password-article &,
	{

		margin: 0 32px 0 0;
		width: 218px;
	}
	.b-pay-success-article & {
		margin: 0;
		width: 162px;
	}

	.b-wrong-password-article & {
		box-shadow: none;
	}

	&-inside {

		display: inline-block;
		@include PFDinDisplayPro(19px, 22px);
		text-align: left;
		vertical-align: middle;
	}
}

.b-form-pass-section {
	display: inline-block;
	margin: 0;
	width: 195px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	overflow: hidden;
	.b-form-pass-section-link {

		display: inline-block;
		@include PFDinDisplayPro(21px, 26px);
		text-align: left;
		text-decoration: none;
		text-transform: uppercase;
		vertical-align: middle;
		color: #00B269;
		
		
		&:hover {
			text-decoration: underline;
		}
	}
}

