@import "_reset";
@import "_tools";
@import "_fonts";
@import "_variables";

/* Common (common styles) */
body, input, textarea, select, button {
	
	font-family: Arial, sans-serif;
}

html {

	height: auto;
	height: 100%;
}

body {

	@include BaseFont(14px, 20px);
	height: 100%;
	position: relative;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

input, textarea, select, button {
	
	font-size: 1em;
}

/* Overrides extra padding in Firefox */ 
button::-moz-focus-inner { 
	
	padding: 0; 
	border: none;
}

a, a:hover {

	@include transition(.3s);
}

/* Global (global styles) / prefix - g- */

.g-pseudo-link {
	
	border-bottom: 1px dashed;
	text-decoration: none !important;
	cursor: pointer;
}

.g-limited {
	
	/* min-width, max-width */
}

.g-cleaner {
	
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.g-cleared:after {
	
	display: block;
	content: ".";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.g-hidden {
	
	display: none !important;
}

/* Layout */

.l-header {

	position: relative;
	margin: 0 auto;
	padding: 18px 40px 90px 20px;
	width: 1024px;
	min-height: 46px;
	@include Font(0,0);
}

.l-content {

	position: relative;
}

.l-footer {

	position: relative;
}

/* Blocks */

.b-background-section {

	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.b-logo {

	display: inline-block;
	vertical-align: top;
	text-indent: -9999px;
	height: 40px;
	position: relative;
	margin: 0 80px 0 0;

	&:before {

		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
	}

	&-link {

		display: block;
		height: 100%;
		position: relative;
	}

	&.b-megafon-logo {

		width: 137px;

		&:before {

			width: 137px;
			height: 25px;
			margin: -12px 0 0;
			background: url(../i/logo-megafon.png);
		}
	}

	&.b-rzd-logo {

		width: 146px;

		&:before {

			width: 146px;
			height: 23px;
			margin: -11px 0 0;
			background: url(../i/logo-rzd.png);
		}
	}
}

.b-primary-menu {

	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	padding: 0 0 0 443px;
	margin: 0 0 0 -443px;

	&-clause {

		display: inline-block;

		&-link {

			.b-primary-menu-phone-clause & {

				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid transparent;

				&:hover {

					border-bottom-color: #fff;
				}
			}

			.b-primary-menu-backward-clause & {

				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid transparent;

				&:before {

					display: block;
					position: absolute;
					content: "";
					width: 46px;
					height: 46px;
					top: 50%;
					left: -66px;
					margin: -23px 0 0;
					@include graphics(-5px, -335px);
				}

				&:hover {

					border-bottom-color: #fff;
				}
			}
		}
	}

	&-phone-clause {

		@include PFDinDisplayPro(14px, 40px);
		color: #fff;
	}

	&-backward-clause {

		float: right;
		@include PFDinDisplayPro(22px, 40px);
		text-transform: uppercase;
		color: #fff;
		position: relative;
	}
}

.b-article {

	@extend .l-header;
	position: relative;
	padding: 0 0 0 300px;
	box-sizing: border-box;
	@include PFDinDisplayPro(14px, 16px);
	color: #fff;

	&-title {

		position: relative;
		padding: 0 0 37px 0;
		@include Font(60px, 60px);

		&:before {

			position: absolute;
			content: "";
			top: -30px;
			left: -220px;
			width: 160px;
			height: 160px;
			background-color: #482670;
			border-radius: 50%;
			overflow: hidden;
		}

		&:after {

			position: absolute;
			content: "";
			top: 17px;
			left: -177px;
			width: 76px;
			height: 66px;

			.b-time-expired-article & {

				@include graphics(-5px, -5px);
			}

			.b-error-article &, 
			.b-disconnected-article &,
			.b-no-money-article &,
			.b-wrong-password-article &,
			.b-payment-impossible-article & {
			
				@include graphics(-5px, -71px);
			}

			.b-authorization-article & {

				@include graphics(-5px, -137px);
			}

			.b-payment-successful-article &,
			.b-phone-approved-article & {
				@include graphics(-5px, -269px);	
			}
			.b-scretch-card-article & {
				@include graphics(-5px, -201px);
			}
		}
		.b-buy-internet-article & {
			
			padding: 0;
		}
		.b-autorization-article &,
		.b-wrong-password-article &,
		.b-scretch-card-article & {
			
			padding: 0 380px 35px 0;
		}
		.b-phone-aprove-article & {

			padding: 0 180px 35px 0;	
		}

		.b-buy-internet-article & {
			
			padding: 0;
		}

		.b-authorization-article &,
		.b-wrong-password-article & {
			
			padding: 0 380px 35px 0;
		}

		.b-phone-approved-article & {

			padding: 0 180px 35px 0;
		}
	}

	&-contents {

		@include Font(29px, 35px);
		padding: 0 0 10px;

		p, &-paragraph {

			padding: 0 0 30px;
		}

		ul a, p a, 
		&-link {

			@include Font(22px, normal);
			text-decoration: none;
			text-transform: uppercase;
			color: #00B269;
			border-bottom: 1px solid transparent;

			&:hover {

				color: #fff;
				border-bottom-color: #fff;
			}
		}

		ul, &-collection {

			list-style: disc outside;
			padding: 0 0 0 30px;
		}
	}

	&-description {
		
		padding: 0 0 56px 0;
		@include Font(29px, 35px);

		.b-payment-success-article & {
			padding: 0 0 43px 0;
		}

		.b-phone-approved-article & {
			padding: 0 70px 26px 0;	
		}
	}

	&-costs-section {

		position: absolute;
		top: 23px;
		left: 109px;

		&-title {

			display: inline-block;
			@include PFDinDisplayPro-Light(41px, 50px);
		}

		&-description {

			display: inline-block;
			@include PFDinDisplayPro-Light(25px, 30px);
		}
	}
}

.b-form {

	&-fieldset {
		
		position: relative;
		&-title {

			@include PFDinDisplayPro(24px, 29px);

			.b-authorization-article & {

				display: block;
				padding: 0 330px 0 0;
			}
		}
	}
	&-field {
		
		margin: 23px 0 40px;
		padding: 17px 50px;
		width: 178px;
		background-color: #fff;
		overflow: hidden;
		border-radius: 30px;
		.b-authorization-article & {

			display: inline-block;
			margin: 35px 26px 40px 0;
		}
		&-entity {

			@include PFDinDisplayPro-Light(20px, 24px);
			border: 0;
		}
		.b-form-error-fieldset & {
			
			height: 22px;
			border: 2px solid #EA2121;
		}
	}
	&-field-error {

		visibility: hidden;
		position: absolute;
		top: 59px;
		right: 132px;
		width: 215px;
		@include PFDinDisplayPro-Light(20px, normal);
		&:after {

			position: absolute;
			content: "";
			top: 5px;
			left: -60px;
			width: 40px;
			height: 40px;
			background-color: #EA2121;
			border-radius: 50%;
			z-index: 12;
		}
		&:before {

			position: absolute;
			content: "!";
			top: 14px;
			left: -43px;
			color: #fff;
			@include PFDinDisplayPro-Medium(20px, normal);
			z-index: 13;
		}
		.b-form-error-fieldset & {

			visibility: visible;
		}
	}
	&-law-description {

		@include PFDinDisplayPro(19px, 23px);

		&-link {

			color: #33CF7D;
			text-decoration: none;
			&:hover {

				text-decoration: underline;
			}
		}
	}
}

.b-button {

	display: inline-block;
	margin: 31px 15px 0 0;
	padding: 0 30px;
	width: 175px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #00985F;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0px 2px 0 0px rgba(0, 0, 0, 0.3);

	&-inside {

		display: inline-block;
		@include PFDinDisplayPro(19px, 22px);
		text-align: left;
		vertical-align: middle;
	}

	.b-authorization-article &,
	.b-wrong-password-article &,
	.b-phone-approved-article &, 
	.b-scretch-card-article &
	{

		margin: 0 32px 0 0;
		width: 218px;
	}

	.b-payment-success-article & {

		margin: 0;
		width: 162px;
	}

	.b-wrong-password-article &,
	.b-phone-approved-article & {

		box-shadow: none;
	}
}

.b-form-pass-section {

	display: inline-block;
	margin: 0;
	width: 195px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	overflow: hidden;

	.b-form-pass-section-link {

		display: inline-block;
		@include PFDinDisplayPro(21px, 26px);
		text-align: left;
		text-decoration: none;
		text-transform: uppercase;
		vertical-align: middle;
		color: #00B269;

		&:hover {

			text-decoration: underline;
		}
	}
}

	