@import "_tools";
@import "_fonts";
@import "_variables";

@media (min-width: $max-gadget + 1px)  { 

	.g-portable {

		display: none !important;
	}
}

.b-article {

	@include mq(1000) {

		margin: 0 auto;
		padding: 0;
		max-width: 620px;
	}
	@include mq(680) {

		max-width: 320px;
	}
	
	&-title {

		@include mq(1000) {

			@include Font(50px, 50px);

			&:before {

				left: -178px;
				width: 140px;
				height: 140px;
			}
			&:after {

				left: -144px;
				top: 6px;
			}
		}

		@include mq(680) {

			margin-top: 100px !important;
			@include Font(38px, 38px);
			&:before {

				top: -160px;
				left: 50%;
				margin-left: -70px;
				width: 140px;
				height: 140px;
			}
			&:after {

	 			top: -125px;
				left: 50%;
				margin-left: -33px;
			}
		}
		
		.b-scretch-card-article &,
		.b-authorization-article &,
		.b-wrong-password-article &,
		.b-payment-card-article &,
		.b-phone-approved-article &,
		.b-payment-impossible-article & {
			
			@include mq(1000) {
				
				margin: 0 0 0 180px;
				padding: 0 0px 35px 0;
			}
			@include mq(680) {
				
				margin: 0;
			}
		}
		.b-buy-internet-article & {

			@include mq(1000) {
				margin: 0 0 0 180px;
				padding: 0 0 8px;
			}
			@include mq(680) {
				
				margin: 0;
			}
		}
	}
	&-costs-section {

		@include mq(1000) {
			
			top: 14px;
			left: 22px;
		}
		@include mq(680) {
			
			top: -115px;
			left: 112px;
		}
	}
	&-contents {

		&-paragraph {

			@include mq(1000) {

				margin: 0 0 0 180px;

			}

			@include mq(680) {
				
				margin: 0;
				@include Font(26px, normal);
			}
			.b-buy-internet-article & {

				@include mq(680) {
					padding: 0 0 15px;
				}
			}
		}
	}
}

.b-form {

	&-fieldset {

		&-title {

			.b-authorization-article & {

				@include mq(1000) {
					display: block;
					padding: 0;
				}
			}
			@include mq(680) {
				
				display: inline-block;
				@include Font(20px, 24px);
			}
		}
	}
	&-field {

		@include mq(680) {
			
			margin: 15px 0 20px;
			padding: 10px 50px;
		}
		&-entity {
			
			@include mq(680) {
			
				@include Font(18px, 20px);
			}
		}
		.b-authorization-article & {
			
			@include mq(680) {
			
				margin: 20px 0 0;
				padding: 15px 50px;
			}
		}
	}
	&-law-description {
		
		.b-buy-internet-article & {	
			@include mq(680) {

				padding: 15px 0 0;
				@include Font(17px, 20px);
			}
		}
		.b-buy-internet-article &-link {

			@include Font(17px, 20px);
		}

	}
	&-pass-section { 
		
		@include mq(680) {
			width: 100%;
			text-align: center;
		}
		&-link {

			@include mq(680) {
				@include Font(18px, 22px);
			}
		}
	}
}

.b-button {

	@include mq(1000) {
		
		margin: 25px 15px 0 0;
	}
	@include mq(680) {

		margin: 20px 0 0;
		height: 55px;
		line-height: 55px;
	}
	.b-authorization-article &,
	.b-wrong-password-article &,
	.b-phone-approved-article &, 
	.b-scretch-card-article & {
		
		@include mq(680) {
			margin: 20px 0 0;
			height: 55px;
			line-height: 55px;
		}
	}
	&-inside {

		@include mq(680) {
			@include Font(18px, 20px);
		}
	}
}
