@import "_tools";
@import "_fonts";
@import "_variables";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

	-webkit-appearance: none;
	margin: 0;
}

@media (min-width: $max-gadget + 1px)  { 

	.g-portable {

		display: none !important;
	}
}

@include mq(860) {

.b-article {

	&-title {

		.b-payment-card-article & {

			padding: 0 20px 10px;
		}
	}

	&-description {

		.b-payment-card-article & {

			padding: 0 20px 50px;
		}
	}
}

.b-payment-card-article {

	width: auto;
	padding: 0 0 80px;
}

.b-form {

	&.b-card-form {

		margin: 0 20px;
		padding: 20px;
		background: #aaa;
		background: rgba(255,255,255,.2);
		border-radius: 10px;

		& .b-form-fieldset {

			width: 100%;
		}

		& .b-form-validity-fieldset {

			box-sizing: border-box;
			padding: 0 240px 0 0;
			margin: 0 -200px 0 0;
			float: left;
		}

		& .b-form-cvv-fieldset {

			position: relative;
			top: auto;
			left: auto;
			margin: 0;
			width: 200px;
			float: left;
		}

		& .b-form-cardholder-fieldset {

			clear: both;
		}

		& .b-form-submit-fieldset {

			padding: 0;
			margin: 25px 0 0;
		}
	}
}

}

@include mq(780) {

.l-header {

	text-align: center;
	padding: 20px 0 40px;
}

.b-logo {

	margin: 0 40px;
}

.b-primary-menu {

	display: block;
	padding: 0;
	margin: 0;
	text-align: center;

	&-clause {

		padding: 0 15px;
		white-space: nowrap;
	}

	&-phone-clause {

		float: none;
	}
}

.b-landing-article {

	padding: 20px 0 80px;

	&-title {

		@include Font(50px, 60px);
		padding: 0 0 40px;
	}

	&-menu {

		margin: 0;

		&-clause {

			width: 160px;
			padding: 0 20px 20px;

			&-description {

				margin: 0 auto 15px;
			}

			&-title {

				@include Font(18px, 20px);
			}
		}
	}
}

.b-form {

	&-field {

		.b-payment-card-article & {

			padding: 7px 20px;
		}

		&-entity {

			.b-form-validity-fieldset & {

				height: 40px;
			}
		}
	}

	&.b-card-form {

		& .b-form-validity-fieldset {

			box-sizing: border-box;
			padding: 0 180px 0 0;
			margin: 0 -140px 0 0;
			float: left;
		}

		& .b-form-cvv-fieldset {

			width: 140px;

			&-paragraph {

				font-size: 12px;
			}
		}
	}

	&-select-field {

		height: 40px;
	}
}

.b-card-form {

	.b-form-month-field {

		width: 40%;
		margin: 8px 0 20px;
		float: left;

		&:after {
			
			width: 50%;
			right: -50%;
			line-height: 40px;
		}
	}

	.b-form-year-field {

		width: 40%;
		float: right;
	}
}

}

@include mq(600) {

.b-logo {

	height: 40px;
	margin: 0 20px -40px;

	&.b-megafon-logo {

		width: 40px;
		float: left;

		&:before {

			width: 40px;
			height: 40px;
			margin: -20px 0 0;
			background: url(../i/logo-megafon-compact.png) 0 0 no-repeat;
		}
	}

	&.b-rzd-logo {

		width: 70px;
		float: right;

		&:before {

			width: 70px;
			height: 30px;
			margin: -15px 0 0;
			background: url(../i/logo-rzd-compact.png) 0 0 no-repeat;
		}
	}
}

.b-primary-menu {

	padding: 0 120px;
}

.b-form {

	&.b-card-form {

		& .b-form-validity-fieldset {

			padding: 0;
			margin: 0;
		}

		& .b-form-cvv-fieldset {

			width: 100%;

			& .b-form-field {

				float: left;
				width: 120px;
			}

			&-paragraph {

				float: left;
				box-sizing: border-box;
				width: 100%;
				max-width: 280px;
				padding: 0 0 0 140px;
				margin: 8px 0 0 -120px;
			}
		}
	}
}

}

@include mq(480) {

.b-primary-menu {

	padding: 60px 0 0;
}

.b-landing-article {

	&-title {

		@include Font(30px, 40px);
		padding: 0 0 20px;
	}

	&-menu {


		&-clause {


			&-description {

			}

			&-title {

				@include Font(14px, 16px);
			}
		}
	}
}

.b-card-form {

	.b-form-month-field {

		width: 46%;
		margin: 8px 0 20px;
		float: left;

		&:after {
			
			width: 18%;
			right: -18%;
			line-height: 40px;
		}
	}

	.b-form-year-field {

		width: 46%;
		float: right;
	}
}

}