<%
var pagename = "Безымянная страница";
for (var i = 0; i < navigation.primary.length; i++) {

	if (current.source == navigation.primary[i].template) 
		pagename = navigation.primary[i].title;
}
%>
<header class="l-header g-cleared">
	
		<h1 class="b-megafon-logo"><img src="i/logo-megafon.png" alt="Мегафон — оператор быстрой связи" class="b-megafon-logo-picture"></h1>
		<h2 class="b-rzd-logo"><img src="i/logo-rzd.png" alt="Российские железные дороги" class="b-rzd-logo-picture"></h2>
		<p class="b-contacts"><a href="tel:88005509434" class="b-contacts-link">8&nbsp;800&nbsp;550&nbsp;94&nbsp;34</a></p>
		<h2 class="b-pages-title"><%= pagename %></h2>
		<a href="#" class="b-controls-link">Назад</a>


</header>