<article class="b-article b-buy-internet-article">
	<form action="#" class="b-form"></form>
		<h2 class="b-article-caption">Купить интернет</h2>
		<p class="b-article-description">На всю поездку (5 часов)</p>
		<span class="b-article-aside-content">300 <span class="b-article-aside-small-content">руб.</span></span>
		<fieldset class="b-form-fieldset">
			<label for="paying-form-phone" class="b-form-fieldset-title">Введите номер вашего телефона</label>
			<div class="b-form-field">
				<input type="tel" class="b-form-field-entity" id="paying-form-phone" placeholder="+7 926 265 72 62">
			</div>
		</fieldset>
		<fieldset class="b-form-fieldset">
			<label class="b-form-fieldset-title">Выберите способ оплаты</label>
			<p class="b-form-law-description">Нажимая на кнопку, Вы соглашаетесь <a href="#" class="b-form-law-description-link">с условиями предоставления услуги</a></p>
			<a class="b-button" href="#">
				<span class="b-button-inside">Оплата банковской картой</span>
			</a>
			<a class="b-button" href="#">
				<span class="b-button-inside">Оплата c мобильного телефона</span>
			</a>
		</fieldset>
</article>

