<article class="b-landing-article">
	<h1 class="b-landing-article-title">Wi&#8209;Fi&nbsp;от&nbsp;Мегафон в&nbsp;Сапсане</h1>
	<ul class="b-landing-article-menu">
		<li class="b-landing-article-menu-clause b-landing-article-menu-90min-clause">
			<a <%- partial("_href", {page : pages.buy90min}) %> class="b-landing-article-menu-clause-link" title="Купить интернет на 90 минут">
				<dl class="b-landing-article-menu-clause-description">
					<dt class="b-landing-article-menu-clause-description-title">100</dt>
					<dd class="b-landing-article-menu-clause-description-contents">руб.</dd>
				</dl>
				<span class="b-landing-article-menu-clause-title">Купить интернет на&nbsp;90 минут</span>
			</a>
		</li>
		<li class="b-landing-article-menu-clause b-landing-article-menu-5h-clause">
			<a <%- partial("_href", {page : pages.buy5h}) %> class="b-landing-article-menu-clause-link" title="Купить интернет на всю поездку">
				<dl class="b-landing-article-menu-clause-description">
					<dt class="b-landing-article-menu-clause-description-title">300</dt>
					<dd class="b-landing-article-menu-clause-description-contents">руб.</dd>
				</dl>
				<span class="b-landing-article-menu-clause-title">Купить интернет на&nbsp;всю поездку</span>
			</a>
		</li>
		<li class="b-landing-article-menu-clause b-landing-article-menu-scretch-clause">
			<a <%- partial("_href", {page : pages.scretch}) %> class="b-landing-article-menu-clause-link" title="Использовать скретч-карту">
				<dl class="b-landing-article-menu-clause-description">
				</dl>
				<span class="b-landing-article-menu-clause-title">Использовать скретч-карту</span>
			</a>
		</li>
	</ul>
</article>

