<article class="b-article b-no-money-article">
	<h2 class="b-article-title">Недостаточно средств для оплаты</h2>
	<div class="b-article-contents">
		<a href="#" title="Выбрать другой способ оплаты" class="b-article-contents-link">Выбрать другой способ оплаты</a>
	</div>
</article>