<article class="b-article b-pay-not-impossible-article">
	<h2 class="b-article-title">В данный момент проведение платежа невозможно</h2>
	<a href="#" title="Выбрать другой способ оплаты" class="b-article-link">Выбрать другой способ оплаты</a>
</article>

