<article class="b-article b-pay-success-article">
	<h2 class="b-article-title">Платеж<br>успешно завершен</h2>
	<div class="b-article-contents">
		<p class="b-article-description">Интернет доступен на 90 минут.</p>
		<a class="b-button" href="#">
			<span class="b-button-inside">Перейти в интернет</span>
		</a>
	</div>
</article>