<article class="b-article b-pay-impossible-article">
	<h2 class="b-article-title">В данный момент проведение платежа невозможно</h2>
	<div class="b-article-contents">
		<a href="#" title="Выбрать другой способ оплаты" class="b-article-link">Выбрать другой способ оплаты</a>
	</div>
</article>

