<article class="b-article b-payment-card-article">
	<form action="#" class="b-form">
		<h2 class="b-article-title">Оплата банковской картой</h2>
		<p class="b-article-description">Интернет на всю поездку (5 часов)</p>
		<div class="b-form-background-inside">
			<fieldset class="b-form-fieldset b-form-wide-fieldset">
				<label for="pay-form-card-number" class="b-form-fieldset-title">Номер карты / Card number</label>
				<div class="b-form-field">
					<input type="text" class="b-form-field-entity" id="pay-form-card-number" placeholder="---- ---- ---- ----">
				</div>
			</fieldset>

			<div class="b-form-inside">
			
				<fieldset class="b-form-fieldset b-form-selects-fieldset">
					<label class="b-form-fieldset-title">Срок действия / Valid through</label>
					<div class="b-form-fieldset-inside b-form-fieldset-separator">
						<div class="b-form-field">01</div>
						<select id="pay-form-card-months" class="b-form-field-entity" size="1">
							<option>01</option>
							<option>02</option>
							<option>03</option>
							<option>04</option>
							<option>05</option>
							<option>06</option>
							<option>07</option>
							<option>08</option>
							<option>09</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
						</select>
					</div>
					<div class="b-form-fieldset-inside">
						<div class="b-form-field">2015</div>
						<select id="pay-form-card-year" class="b-form-field-entity" size="1">
							<option>2015</option>
							<option>2016</option>
							<option>2017</option>
							<option>2018</option>
						</select>
					</div>
				</fieldset>

				<fieldset class="b-form-fieldset b-form-aside-fieldset">
					<label for="pay-form-card-cvv" class="b-form-fieldset-title">CVV/СVC</label>
					<div class="b-form-field">
						<input type="text" class="b-form-field-entity" id="pay-form-card-cvv" placeholder="---">
					</div>
					<p class="b-form-aside-fieldset-paragraph">Последние 3 цифры на полосе для подписи</p>
				</fieldset>
			</div>
			
			<fieldset class="b-form-fieldset b-form-wide-fieldset">
				<label for="pay-form-card-owner" class="b-form-fieldset-title">Владелец карты / Card holder name</label>
				<div class="b-form-field">
					<input type="text" class="b-form-field-entity" id="pay-form-card-owner" placeholder="Имя фамилия / name surname">
				</div>
			</fieldset>
		</div>
		<fieldset class="b-form-fieldset b-form-center-fieldset">
			<a class="b-button" href="#">
				<span class="b-button-inside">Оплатить</span>
			</a>
		</fieldset>
	</form>
</article>
