<article class="b-article b-payment-successful-article">
	<h2 class="b-article-title">Платеж<br>успешно завершен</h2>
	<div class="b-article-contents">
		<p class="b-article-contents-paragraph">Интернет доступен на 90 минут.</p>
	</div>
	<a class="b-button" href="#"><span class="b-button-inside">Перейти в интернет</span></a>
</article>