<article class="b-article b-payment-impossible-article">
	<h1 class="b-article-title">В данный момент проведение платежа невозможно</h1>
	<div class="b-article-contents">
		<a href="#" title="Выбрать другой способ оплаты" class="b-article-contents-link">Выбрать другой способ оплаты</a>
	</div>
</article>

