<article class="b-article b-time-expired-article">
	<h2 class="b-article-caption">Время подтверждения номера истекло</h2>
	<a href="#" title="Выбрать другой способ оплаты" class="b-article-link">Выбрать другой способ оплаты</a>
</article>

