<article class="b-article b-wrong-password-article">
	<form action="#" class="b-form"></form>
		<h2 class="b-article-caption">Некорректный пароль</h2>
		<fieldset class="b-form-fieldset">
			<label for="paying-form-phone" class="b-form-fieldset-title">Введите пароль</label>
			<div class="b-form-field">
				<input type="tel" class="b-form-field-entity" id="paying-form-phone" placeholder="Введите пароль">
			</div>
		</fieldset>
		<fieldset class="b-form-fieldset">
		<fieldset class="b-form-fieldset">
			<a class="b-button" href="#">
				<span class="b-button-inside">Подтвердить данные</span>
			</a>
			<span class="b-form-pass-section" >
				<a class="b-form-pass-section-link" href="#">Получить пароль еще раз</a>
			</span>
		</fieldset>
</article>